{% extends "template.html" %}
{% block conteudo %}
         <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Celular</th>
                    <th>E-mail</th>
                    <th>Data Nascimento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for contato in lista %}
                <tr>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.celular}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.data_nasc.strftime ('%d/%m/%Y') }}</td>
                    <td>
                        <a href="{{ url_for('editar', id=contato.id) }}">Editar</a>
                        <a href="{{ url_for('deletar', id=contato.id) }}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}